body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;        
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

a {text-decoration: none;}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p {margin: 0;}
h1, h2, h3, h4, h5, h6 {margin: 0;}
img {display: block;}

.container { 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

header {border-bottom: 1px solid #E7E9FC}

header .container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between; 
}

.link {
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
}

.nav-top {
    display: flex;
    gap: 76px;
    align-items: center;
}

.logo {
    color: #4d5ae5;    
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.studio {color: #2E2F42;}

.top-line-menu {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    gap: 40px;
    }

.top-line-menu .link {color: #2e2f42;}
.top-line-menu .link:hover {color:#404BBF;}
.top-line-menu .link:focus {color: #404BBF; text-decoration: underline;}
.top-line-contacts {
    font-style: normal; 
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.menu-contact {
    display: flex;
    gap: 40px;    
}

.top-line-contacts .link {color: #434455; }
.top-line-contacts .link:hover {color: #404BBF;}
.top-line-contacts .link:focus {color: #404BBF;}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-top {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
}
.button:hover {background-color: #404BBF;}
.button:focus {background-color: #404BBF;}

.advantages {color: #434455;}

.advantages-ul {
    display: flex;
    gap: 24px; 
}

.advant {
    width: calc((100% - 3 * 24px) / 4);
}

.feature {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.hero-p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.light {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    width: calc((100% - 3 * 24px) / 4);
}

.item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.feature {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.white .portfolio-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    width: calc((100% - 48px) / 3);
    
}

.white .item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;   
}

.white .feature {
    text-align: left;
}

.white .team-p {
    text-align: left;
}

.footer {
    color: #F4F4FD; 
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.logo {
    display: inline-block;
}

.footer .logo {
    margin-bottom: 16px;
}
    
.footer .studio {color: #F4F4FD;}
.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    